@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --subtitle: var(--foreground);

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  /* Dark Theme */
  .dark {
    --vivid-neon-blue: 216 100% 70%;
    --darker-neon-blue: 216 100% 50%; /* Darker neon blue */
    --better-neon-blue: 216 100% 30%; /* Better neon blue */
    --darker-neon-pink: 330 100% 30%;
    --better-neon-pink: 330 100% 50%;
    --darker-navy-blue: 240 5% 10%;
    --darker-navy-grey: 240 5% 15%;
    --darker-neon-yellow: 48 100% 40%;
    --white-ish: 0 0% 80%;

    --background: 240 5% 10%; /* Very dark navy blue */
    --foreground: 216 100% 70%; /* Vivid neon blue */

    --card: var(--darker-navy-grey); /* Slightly lighter very dark navy blue */
    --card-foreground: var(--darker-neon-yellow); /* Darker neon yellow */

    --popover: var(--darker-navy-grey);
    --popover-foreground: var(--better-neon-pink); /* Darker neon pink */

    --primary: var(--better-neon-blue); /* Darker neon blue */
    --primary-foreground: var(--white-ish); /* Very dark navy blue */

    --secondary: var(--darker-neon-yellow); /* Darker neon yellow */
    --secondary-foreground: 240 5% 10%; /* Very dark navy blue */

    --muted: var(--darker-neon-pink); /* Darker neon pink */
    --muted-foreground: var(--white-ish); /* Vivid neon blue */

    --accent: var(--better-neon-blue); /* Darker neon blue */
    --accent-foreground: var(--white-ish); /* Very dark navy blue */

    --destructive: 0 100% 30%; /* Darker red */
    --destructive-foreground: 240 5% 10%; /* Very dark navy blue */

    --subtitle: var(--white-ish); 

    --border: var(--better-neon-blue); /* Desaturated darker neon blue */
    --input: var(--better-neon-blue);
    --ring: var(--better-neon-blue); /* Vivid neon blue */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  h1,h2,h3,h4,h5,h6 {
    
  }
}