@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  /* Dark Theme */
  .dark {
    --darker-neon-blue: 216 100% 50%; /* Darker neon blue */
    --better-neon-blue: 216 53% 22%; /* Better neon blue */

    --background: 240 5% 10%; /* Very dark navy blue */
    --foreground: 216 100% 70%; /* Vivid neon blue */

    --card: 240 5% 15%; /* Slightly lighter very dark navy blue */
    --card-foreground: 48 100% 40%; /* Darker neon yellow */

    --popover: 240 5% 15%;
    --popover-foreground: 330 90% 40%; /* Darker neon pink */

    --primary: var(--better-neon-blue); /* Darker neon blue */
    --primary-foreground: 0 0% 80%; /* Very dark navy blue */

    --secondary: 48 100% 40%; /* Darker neon yellow */
    --secondary-foreground: 240 5% 10%; /* Very dark navy blue */

    --muted: 330 90% 40%; /* Darker neon pink */
    --muted-foreground: 0 0% 80%; /* Vivid neon blue */

    --accent: var(--better-neon-blue); /* Darker neon blue */
    --accent-foreground: 0 0% 80%; /* Very dark navy blue */

    --destructive: 0 100% 30%; /* Darker red */
    --destructive-foreground: 240 5% 10%; /* Very dark navy blue */

    --border: var(--better-neon-blue); /* Desaturated darker neon blue */
    --input: var(--better-neon-blue);
    --ring: var(--better-neon-blue); /* Vivid neon blue */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}